<h1>Photo Upload</h1>
<%= form_tag url_for(:action => 'uploadPhoto'), :multipart => true do%>
<p><label for="upload_file">Select File</label> : 
<%= file_field_tag 'upload', :accept => 'image/png,image/gif,image/jpeg'%></p>
<%= submit_tag "Upload" %>
<% end %>